body {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

header {
    text-align: center;
    background: #999999;
}

#main-form {
    background-color: #cccccc;
    margin: auto;
    overflow: hidden;
    min-height: 300px;
    margin: 10px;
}

#stats {
    display: flex;
}

.item {
    flex: 1;
}